touchpad
{
	-moz-binding: url("chrome://sim_win/content/touchpad.xml#touchpad");
}

touchkey{
	-moz-binding: url('chrome://sim_win/content/touchpad.xml#touchkey');
	color: yellow;
}

videoplayer {
    -moz-binding: url('chrome://sim_win/content/mediaplayer.xml#videop');
}

.touchkey-dse
{
		color: red;
	background: green;
}
