@import url("bindings.css");
@import url("chrome://global/skin/");

window
{
	border: 0px;
	background: lightgoldenrodyellow;
	/*font-family: Verdana;*/
	font-family:Comic Sans, Comic Sans MS, cursive;
}

window.transient
{
	/*background: transparent;*/
}

window.splash
{
	border: 0em;
	background: white;
	font-size: larger;
}

touchkey,
togglekey,
chatterkey
{
  color: black;
  background-color: white;
  -moz-border-radius: 30px;
  -moz-border-radius: 1.0em;
  margin:.12em;
  font-size: 2.2em;
  border: .15em solid;
}

#scrollL,
#scrollR,
#back
{
	font-size: 1.9em;
}

touchkey.otherthings,
touchkey.goback
{
}

touchkey.quit
{
}

touchkey.answer
{
}

chatterkey.message,
#avatar
{
}

chatterkey.message .touchkey-box,
#avatar .touchkey-box
{
  padding: 0em;	
}

touchkey[disabled="true"],
touchkey[disabled="true"]:hover:active {
  color: white;
}

touchkey.callbutton
{
	opacity: 0.75;
}

touchkey.mediatrack
{
  border-color: black;
  color: darkgrey;
}

hbox.config_desc
{
  color: black;
  background-color: white;
  margin:.2em;
  border: 0;
}

browser
{
	overflow: hidden;
}

touchkey.scankey:focus,
togglekey.scankey:focus,
chatterkey.scankey:focus
{
 background-color: rgb(100,100,100);
}

touchkey:active,
togglekey:active,
chatterkey:active
{
 background-color: rgb(200,200,200);
}

