@import url("bindings.css");
@import url("chrome://global/skin/");

slideshow
{
}

touchkey,
togglekey,
chatterkey
{
  color: white;
  background-color: #2C7DCF;
  border-color: darkblue;
  -moz-border-radius: 20px;
  margin:5px;
}

window
{
	border: 0px;
	background: lightgoldenrodyellow;
	font-family: Verdana;
}

/*
window.transient
{
	backgsround: transparent;
}
*/

window.splash
{
	background: white;
	font-size: larger;
}


touchkey.callbutton
{
	opacity: 0.75;
}

touchkey.stop_button
{
  color: white;
  background-color: red;
  border-color: darkred;
  font-size: 48px;
}

touchkey.otherthings,
touchkey.goback
{
  color: white;
  background-color: rgb(139,190,64);
  border-color: darkgreen;
}

touchkey.quit
{
  color: white;
  background-color: red;
  border-color: darkred;
}

touchkey.answer
{
  color: white;
  background-color: rgb(246,116,27);
  border-color: darkorange;
}

chatterkey.message
{
  color: Darkblue;
  background-color: lightblue;
  border-color: darkblue;
}

touchkey[disabled="true"],
touchkey[disabled="true"]:hover:active {
  color: GrayText;
}
