@import url("bindings.css");
@import url("chrome://global/skin/");

window
{
	border: 0em;
	background: lightgoldenrodyellow;
	/*font-family: Verdana;*/
	font-family:Comic Sans, Comic Sans MS, cursive;
}

window.transient
{
	/*background: transparent;*/
}

window.splash
{
	border: 0em;
	background: white;
	font-size: larger;
}

touchkey,
togglekey,
chatterkey
{
  color: white;
  background-color: #2C7DCF;
  border-color: darkblue;
  -moz-border-radius: 1.0em;
  margin:.12em;
  font-size: 2.2em;
  border: .15em solid;
}

#scrollL,
#scrollR,
#back
{
	font-size: 1.9em;
}

touchkey.otherthings,
touchkey.goback
{
  color: white;
  background-color: rgb(139,190,64);
  border-color: darkgreen;
}

touchkey.quit
{
  color: white;
  background-color: red;
  border-color: darkred;
}

touchkey.answer
{
  color: white;
  background-color: rgb(246,116,27);
  border-color: darkorange;
}

chatterkey.message,
#avatar
{
  color: Darkblue;
  background-color: lightblue;
  border-color: darkblue;
}

chatterkey.caption
{
  color: Navy;
  background-color: palegoldenrod;
  border: 0;
  font-size: 2.8em;
  font-weight: bolder;
}

chatterkey.message .touchkey-box,
chatterkey.caption .touchkey-box,
#avatar .touchkey-box
{
  padding: 0em;	
}

#avatar .touchkey-box
{
  font-size:0em;
}

touchkey[disabled="true"],
touchkey[disabled="true"]:hover:active {
  color: rgb(246,116,27);
}

touchkey.callbutton
{
	opacity: 0.75;
}

touchkey.endcallbutton
{
  color: white;
  background-color: red;
  border-color: white;
}

touchkey.mediatrack
{
  border-color: #2C7DCF;
  color: lightgrey;
}

touchkey.playingmediatrack
{
  border-color: #2C7DCF;
  color: yellow;
}

hbox.config_desc
{
  color: white;
  background-color: #2C7DCF;
  margin:.2em;
  border: 0;
}

browser
{
	overflow: hidden;
}

touchkey.scankey:focus,
togglekey.scankey:focus,
chatterkey.scankey:focus
{
 background-color: rgb(200,200,0);
}

touchkey:active,
togglekey:active,
chatterkey:active
{
 background-color: rgb(127,0,127);
}

