@import url("bindings.css");
@import url("chrome://global/skin/");

window
{
	border: 0px;
	background: lightgoldenrodyellow;
	font-family: Verdana;
}

window.transient
{
	/*background: transparent;*/
}

window.splash
{
	border: 0px;
	background: white;
	font-size: larger;
}

touchkey,
togglekey,
chatterkey
{
  color: white;
  background-color: #2C7DCF;
  border-color: darkblue;
  -moz-border-radius: 30px;
  margin:5px;
  border: 4px solid;
  font-size: 35px;
}

touchkey.otherthings,
touchkey.goback
{
  color: white;
  background-color: rgb(139,190,64);
  border-color: darkgreen;
}

touchkey.quit
{
  color: white;
  background-color: red;
  border-color: darkred;
}

touchkey.answer
{
  color: white;
  background-color: rgb(246,116,27);
  border-color: darkorange;
}

chatterkey.message
{
  color: Darkblue;
  background-color: lightblue;
  border-color: darkblue;
}

touchkey[disabled="true"],
touchkey[disabled="true"]:hover:active {
  color: rgb(246,116,27);
}

touchkey.callbutton
{
	opacity: 0.75;
}

touchkey.endcallbutton
{
  color: white;
  background-color: red;
  border-color: white;
}

touchkey.mediatrack
{
  border-color: #2C7DCF;
  color: lightgrey;
}

hbox.config_desc
{
  color: white;
  background-color: #2C7DCF;
  margin:5px;
  border: 0;
  font-size: 35px;
}

browser
{
	overflow: hidden;
}