touchpad
{
	-moz-binding: url("chrome://maavis/content/bindings/touchpad.xml#touchpad");
}

touchkey{
	-moz-binding: url('chrome://maavis/content/bindings/touchpad.xml#touchkey');
}

togglekey{
	-moz-binding: url('chrome://maavis/content/bindings/touchpad.xml#togglekey');
}

chatterkey{
	-moz-binding: url('chrome://maavis/content/bindings/touchpad.xml#chatterkey');
}

videoplayer {
    -moz-binding: url('chrome://maavis/content/bindings/mediaplayer.xml#videop');
}

webbrowser {
    -moz-binding: url('chrome://maavis/content/bindings/browser.xml#browser');
}

.dse
{
  color: green;
}

.stop
{
	color: red;
}