touchpad {
  background-color: transparent;
}

touchkey,
togglekey,
chatterkey {
  margin: 1px;
  border: 4px solid;
  border-color: darkblue;
  color: #2C7DCF;
  background-color: white;
  font-size: 35px;
}

.touchkey-box {
  border: 0px solid transparent;
  padding: 0px;
  margin: 3px;
}

.touchkey-image {
  border: 0px solid transparent;
  padding: 5px;
  margin: 0px;
}

.touchkey-text {
  margin: 3px !important;
  text-align: center;
}

.stop_button {
	margin: 0;
}

/* .......... focused state .......... */

/*touchkey:focus {
  -moz-border-top-colors: ThreeDDarkShadow ThreeDHighlight transparent;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDDarkShadow ThreeDHighlight transparent;
}
*/
/*touchkey:focus > .touchkey-box {
  border: 1px dotted ThreeDDarkShadow;
}*/

/* .......... default state .......... */

/*touchkey[default="true"] {
  -moz-border-top-colors: ThreeDDarkShadow ThreeDHighlight ThreeDLightShadow;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDDarkShadow ThreeDHighlight ThreeDLightShadow;
} */

/* .......... hover state .......... */
/*
touchkey:hover,
togglekey:hover {
  color: -moz-buttonhovertext;
  background-color: -moz-buttonhoverface;
}
*/
/* .......... active/open/checked state .......... */

/*touchkey:hover:active,
touchkey[open="true"],
touchkey[checked="true"] {
  -moz-border-top-colors: ThreeDDarkShadow ThreeDShadow transparent;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow transparent;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow transparent;
  -moz-border-left-colors: ThreeDDarkShadow ThreeDShadow transparent;
  color: ButtonText;
}

touchkey:hover:active > .touchkey-box,
touchkey[open="true"] > .touchkey-box,
touchkey[checked="true"] > .touchkey-box {
  padding-top: 2px;
  padding-bottom: 1px;
  -moz-padding-start: 4px;
  -moz-padding-end: 3px;
}
*/
/* .......... disabled state .......... */

/*touchkey[disabled="true"],
touchkey[disabled="true"]:hover:active {
  color: GrayText;
}

touchkey[disabled="true"] > .touchkey-box {
  padding-top: 1px !important;
  padding-bottom: 2px !important;
  -moz-padding-start: 3px !important;
  -moz-padding-end: 4px !important;
}
*/
